.header-hero {
  background-position: center center;
  background-size: cover;
  min-height: 800px;
}
.header-hero h1 {
  line-height: 1.2;
}
.header-hero h1 {
  font-size: 3.75rem;
  line-height: 1.1;
}
.header-hero h1 {
  color: white;
  font-size: 2.75rem!important;
  line-height: 1;
  margin-bottom: 30px;
  margin-top: 0;
}